.deck-container {
    position: fixed;
    /* left: 50%; */
    padding-top: 142px;
}

/* .deck {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.card {
    display: inline-block;
    position:absolute;
    width: 130px;
    height: 190px;
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
    cursor: default;

    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}
.card .back {
    background-image: url(../assets/img/card/back.png);
    background-position: 50% 50%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.card1 {
    top:250px;
    left: 875px;
}
img {
    width: 130px;
    height: 190px;
    padding-right: 10px;

    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}

.my-cards {
    padding-left: 100px;
}

.card.ani0 {
    right: 948px;
    bottom: 326px;
}
.card.ani1 {
    right: 711px;
    bottom: 326px;
}
.card.ani2 {
    right: 474px;
    bottom: 326px;
}
.card.ani3 {
    right: 237px;
    bottom: 326px;
}
.card.ani4 {
    right: 0;
    bottom: 326px;
}