.notifyCenter {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.notifyCenter .notificationContainer {
    position: absolute;
    top: 10px;
    right: 10px;
}

.notifyCenter .notification {
    display: flex;
    background-color: var(--notification_background);
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    opacity: 1;
    transform: translateX(0);
    transition: 0.5s;
}
.notifyCenter .notification.hidden {
    opacity: 0;
    transform: translateX(-100px);
}

.notifyCenter .notification .notificationStatus {
    display: flex;
    padding: 10px;
    padding-right: 0;
    font-size: large;
}
.notifyCenter .notification .notificationStatus i {
    margin: auto;
    padding: 10px;
    border-radius: 50%;
    color: var(--notification_background)
}

.notifyCenter .notification .notificationContent {
    padding: 20px;
}

.notifyCenter .notification .notificationClose {
    display: flex;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}
.notifyCenter .notification .notificationClose i {
    margin: auto;
}


.notifyCenter .notification.success .notificationStatus i {
    background-color: var(--color_success);
}
.notifyCenter .notification.error .notificationStatus i {
    background-color: var(--color_danger);
}
.notifyCenter .notification.neutral .notificationStatus i {
    background-color: var(--color_neutral);
}