body {
    background: #000000;
    color:rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    padding: 0 12%;
}

h1 {
    margin: 2rem;
    text-align: center;
}

h2 {
    color: #000000;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0 0;
}

.game {
    z-index: 1;
    width: 50%;
    padding: 1rem 10rem 5rem 10rem;
    background: green;
    border-radius: 10px;
}

.player .message {
    margin-left: 25%;
}

.player-cards {
    display: flex;
    justify-content: center;
    height: 168px;
}

.actions {
    padding-top: 15px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.actions button {
    width: 18rem;
}

.actions button:not(:last-child) {
    margin-bottom: 1.5rem;
}

button {
    font-family: "Arial Black";
    background: #6ea023;
    color: #000000;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px;
    outline: none;
    border: none;
    line-height: 20px;
    padding-top: 20px;
    transition: all 0.2s ease 0s;

    -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
}

button:hover {
    cursor: pointer;
    color: white;
}

button:active:not(button:disabled, button[disabled]) {
    color: yellow;
    -webkit-box-shadow: inset 0px 0px 14px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 14px 5px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 14px 5px rgba(0,0,0,0.75);
}
button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #666666;
}